@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: "Mitr", sans-serif;
}
body{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: rgb(245, 255, 240); */
  background-image: url("res/LobbyBG.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  overflow: hidden;
}
.choices-container {
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: center; 
  gap: 30px; 
  background-color: rgb(92, 116, 81);
  border-radius: 10px;
  /* padding-top: 20px; */
}

.choices:hover {
  transform: scale(1.2);
  transition: transform 0.4s;
}
.choices.disabled {
  opacity: 0.5; 
  pointer-events: none; 
}
.bot-container{

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
  gap: 20px; 
}