@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mitr", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: rgb(245, 255, 240); */
  background-image: url("../res/LobbyBG.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  overflow: hidden;
}
.choices-container {
  height: 100px;
  width: 500px;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: rgb(92, 116, 81);
  border-radius: 10px;
  /* padding-top: 20px; */
}

.choices:hover {
  transform: scale(1.2);
  transition: transform 0.4s;
}
.choices.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.bot-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  font-size: 1.5em; /* Add this line to increase the font size */
}
.middle-left {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.middle-right-container {
  position: absolute;
  top: 50%;
  right: calc(5%); /* Center align between choice container and right border */
  transform: translateY(-50%);
  text-align: center;
}
.score-container {
  background-color: #80c4e9;
  padding: 10px;
  border-radius: 10px;
  font-size: 2em; /* Add this line to increase the font size */
}
.back-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.back-button:hover {
  background-color: #45a049;
}
.lobby-header {
  font-size: 2.5em; /* Adjust the size as needed */
  align-content: center;
}
