@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mitr", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../res/LoginBG.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  overflow: hidden;
}

#MainPageGamesPics img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
  animation: scaleCycle 1s infinite;
}

@keyframes scaleCycle {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1.1);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
  font-size: 2em;
}

.leaderboard {
  width: 500px;
  height: calc(5 * 48px);
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

.leaderboard table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard th,
.leaderboard td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.leaderboard th {
  background-color: #f2f2f2;
  font-weight: bold;
}

#leaderboard-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#leaderboard-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 1em;
  color: #555;
  line-height: 1.5;
}

#leaderboard-list li.header {
  font-weight: bold;
  background-color: #f2f2f2;
}

#leaderboard-list li span {
  flex: 1;
  text-align: center;
}

#leaderboard-list li span:first-child {
  text-align: left;
}

#leaderboard-list li span:last-child {
  text-align: right;
}

/* Separate current user section */
.current-user-container {
  margin-top: 15px;
  text-align: center;
  color: #555;
  font-size: 1em;
  font-weight: bold;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}

.backBtn button {
  width: 100px;
  height: 40px;
  background-color: rgb(246, 199, 215);
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 550;
  margin: 20px;
  transition-duration: 0.8s;
}

.backBtn button:hover {
  background-color: rgb(255, 230, 230);
}
