@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mitr", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../res/LoginBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  padding: 10px; 
}

.Outer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; 
  gap: 20px;
}

#MainPageGamesPics img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
  animation: scaleCycle 1s infinite;
}

@keyframes scaleCycle {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

#MainPageGamesPics {
  align-self: normal;
}

.login_ {
  width: 400px;
  max-width: 100%; 
  background: rgb(218, 225, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.login_ h1 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.login_ .input-box {
  width: 100%;
  height: 40px;
  margin: 15px 0px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border: none;
  outline: none;
  border: 2px solid rgba(200, 200, 200, 0.3);
  border-radius: 10px;
  font-size: 15px;
  padding: 0px 15px;
  transition: border-color 0.3s;
}

.input-box input:focus {
  border-color: #80a4ff; 
}

.input-box input::placeholder {
  color: rgb(133, 137, 141);
}

.loginBtn {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  gap: 10px; 
}

.loginBtn button {
  flex: 1 1 48%; 
  height: 40px;
  background-color: rgb(246, 199, 215);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.3s;
}

.loginBtn button:hover {
  background-color: rgb(255, 230, 230);
  transform: scale(1.05); 
  cursor: pointer;
}

.loginResponse {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.loginResponse h3 {
  margin: 0;
  visibility: hidden;
}

@media (max-width: 1024px) {
  body {
    background-size: cover; 
    padding: 10px;
  }
  .Outer {
    gap: 15px; 
  }
  .login_ {
    width: 90%; 
  }
  .login_ h1 {
    font-size: 28px; 
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
    gap: 15px; 
  }
  #MainPageGamesPics img {
    max-width: 80%; 
  }
  .loginBtn button {
    flex: 1 1 100%; 
    margin: 5px 0; 
  }
}

@media (max-width: 480px) {
  body {
    flex-direction: column; 
    padding: 5px;
  }
  .login_ {
    width: 90%; 
    padding: 15px; 
  }
  .login_ h1 {
    font-size: 24px; 
  }
  .input-box input {
    font-size: 14px;
    padding: 5px 10px; 
  }
  .loginBtn button {
    font-size: 14px; 
    height: 35px;
  }
}
