@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: "Mitr", sans-serif;
}
body{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
}
.choices-container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
}

.choices:hover {
  transform: scale(1.2);
  transition: transform 0.4s;
}

.bot-container{

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
  gap: 20px; 
}