@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
  font-family: "Mitr", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: rgb(245, 255, 240); */
  background-image: url("res/LoginBG.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  overflow: hidden;
}
.container{
  display: flex;
  align-items: center;
  gap: 20px;
}
#MainPageGamesPics img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0px;
  animation: scaleCycle 1s infinite;
}
@keyframes scaleCycle {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.03); 
  }
  100% {
    transform: scale(1); 
  }
}
.login_ {
  width: 420px;
  background:rgb(218, 225, 255);
  border-radius: 5px;
  padding: 20px;
}
.login_ h1{
  font-size: 36px;
  text-align: center;
}
.login_ .input-box{
  width: 100%;
  height: 30px;
  margin: 10px 0px;
  
}
.input-box input{
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  font-size: 15px;
  padding: 0px 15px 0px 15px;
}
.input-box input::placeholder{
  color:rgb(133, 137, 141);
}
.loginBtn button {
  width: 100%;
  height: 40px;
  background-color: rgb(246, 199, 215);
  border: none;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 550;
  margin: 2px;
  transition-duration: 0.8s;
}

.loginBtn button:hover {
  background-color: rgb(255, 230, 230); 
  /* cursor: pointer; */
}
#MainPageGamesPics{
  align-self:normal;
}